:root {
    --green: #009c1b;
    --gray: rgb(95, 99, 104);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}
.form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.form-flex {
    display: inline-flex;
    justify-content: space-evenly;
    min-width: 100%;
}
.form-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-input {
    max-width: 110px;
}
.bold {
    font-weight: bold;
}
button#scrollButton,
a.button {
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 2rem auto 1rem;
    padding: 8px 16px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 300ms;
}
#scrollButton:hover,
a.button:hover {
    opacity: 80%;
}
a.button {
    background-color: var(--gray);
    border: 1px solid var(--gray);
    margin: 1rem auto;
}
