.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}
.form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.form-flex {
    display: inline-flex;
    justify-content: space-evenly;
    min-width: 100%;
}
.form-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-input {
    max-width: 110px;
}
#scrollButton,
.button {
    background-color: gray;
    border: 1px solid rgb(95, 99, 104);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 2rem auto 1rem;
    padding: 8px 16px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 300ms;
}
#scrollButton:hover,
.button:hover {
    opacity: 80%;
}
.button {
    margin: 1rem auto;
}
