.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}
.param {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    margin: 1rem 0 0;
    min-width: 100%;
}
.param-lab {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.param-inp {
    max-width: 110px;
}
#scrollButton {
    background-color: gray;
    border: 1px solid rgb(95, 99, 104);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 2rem auto 1rem;
    padding: 8px 16px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 300ms;
}
#scrollButton:hover {
    opacity: 80%;
}
